.card {
    box-shadow: 1px 1px 3px 3px #aaaaaa;
    border-radius: 0.7em;
    padding: 3em;
    display: inline-block;
    margin: 1em;
    margin-left: 0em;
}

@media only screen and (max-width: 600px) {
    .card {
        margin: '0';

    }
}